@import url('https://fonts.googleapis.com/css2?family=Luga&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: #121212;
  font-family: 'Luga', sans-serif; 
  color: white;
  padding: 30px;
  border-radius: 50px;
}

/* Optional: Custom Scrollbar (for a more polished look) */
/* You might need to adjust this for different browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #202020;
}

::-webkit-scrollbar-thumb {
  background: #66EB9A; 
  border-radius: 4px;
}

/* Add fallbacks for older browsers */
@supports not (scrollbar-width: thin) {
  ::-webkit-scrollbar {
    width: 12px;
  }
}

@supports not (-webkit-appearance: none) {
  ::-webkit-scrollbar {
    width: 12px;
  }
}
